.App {
  margin:0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to left top, #a367b1, #b48ec9, #c8b4de, #e1daf0, #ffffff,);
  display: flex;
  align-items: center;
  justify-content: center;
}

